<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cgtz.com.cgwallet" >

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activity.ScreenSlideActivity"
            android:label="@string/title_activity_ScreenSlideActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login_or_regist" >
        </activity>
        <activity
            android:name=".activity.GestureEditActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.GestureVerifyActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- <data android:scheme="1104528482" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- QQ   end -->


        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552cc88cfd98c58400000128" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 添加UmengAppkey end -->
        <!-- 微信分享  回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.SafeCenterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MenuMoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutCompanyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back" >
        </activity>
        <activity
            android:name=".activity.E_wallet_record_activity"
            android:label="@string/title_activity_e_all"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Earnings_record"
            android:label="@string/title_activity_Earnings_record" />
        <activity
            android:name=".activity.RegistActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegistNextActivity"
            android:label="@string/title_activity_regist_next" >
        </activity>
        <activity android:name=".activity.OpenSudokoUnlockActivity" />

        <receiver android:name=".receiver.Provinces_Observer" >
            <intent-filter>
                <action android:name="provinces" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.Provinces_download_Service" />
        <service android:name=".Service.Image_download_Service" />

        <activity
            android:name=".activity.SaveMoneyActivity"
            android:label="@string/title_activity_save_money" >
        </activity>
        <activity
            android:name=".activity.InformationConfirmActivity"
            android:label="@string/title_activity_information_confirm" >
        </activity>
        <activity
            android:name=".activity.InProgressActivity"
            android:label="@string/title_activity_in_progress" >
        </activity>
        <!-- 连连支付服务 -->
        <!-- LLYT SDK START -->
        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.yintong.secure.service.PayService"
            android:exported="false" >
        </service>
        <!-- 连连支付结束 -->
        <activity
            android:name=".activity.SaveMoneySuccessActivity"
            android:label="@string/title_activity_save_money_success" >
        </activity>
        <activity android:name=".activity.Change_password_Activity"/>
        <activity android:name=".activity.TradePwdActivity"/>
        <activity android:name=".activity.Modify_trade_password_Activity"/>
        <activity android:name=".activity.ChangeLoginPwdActivity"/>
        <activity android:name=".activity.Withdraw_money"/>
    </application>

</manifest>
